body {
  background-color:rgba(240.00000089406967, 92.00000211596489, 92.00000211596489, 1);
}
.2_2 {
	overflow:hidden;

}
.e2_2 {
	background-color:rgba(240.00000089406967, 92.00000211596489, 92.00000211596489, 1);
	width:1900px;
	height:960px;
	position:absolute;
  overflow: hidden;
}
.e6_5 {
	background-color:rgba(255, 121.12500607967377, 121.12500607967377, 1);
	width:993px;
	height:168px;
	position:absolute;
	left:908px;
	top:714px;
}
.e4_26 {
	color:rgba(255, 255, 255, 1);
	width:990px;
	height:181px;
	position:absolute;
	left:927px;
	top:720px;
	font-family:Product Sans;
	text-align:center;
	font-size:96px;
	letter-spacing:0;
	line-height:px;
}
.e7_2 {
	background-color:rgba(255, 135.8837789297104, 135.8837789297104, 1);
	width:202px;
	height:71px;
	position:absolute;
	left:1412px;
	top:34px;
	border-top-left-radius:42px;
	border-top-right-radius:42px;
	border-bottom-left-radius:42px;
	border-bottom-right-radius:42px;
}
.e7_4 {
	background-color:rgba(255, 135.8837789297104, 135.8837789297104, 1);
	width:202px;
	height:71px;
	position:absolute;
	left:1647px;
	top:34px;
	border-radius:42px;
}
.e7_6 {
	color:rgba(255, 230.5625081062317, 230.5625081062317, 1);
	width:168px;
	height:55px;
	position:absolute;
	left:1667px;
	top:44px;
	font-family:Product Sans;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
	line-height:px;
}
.e7_7 {
	color:rgba(255, 230.5625081062317, 230.5625081062317, 1);
	width:168px;
	height:55px;
	position:absolute;
	left:1429px;
	top:42px;
	font-family:Product Sans;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
	line-height:px;
}
.e7_11 {
	color:rgba(255, 255, 255, 1);
	width:1030px;
	height:465px;
	position:absolute;
	left:435px;
	top:156px;
	font-family:Product Sans;
	text-align:center;
	font-size:96px;
	letter-spacing:0;
	line-height:px;
}
.bookmark {
  height: 1550px;
  left: 1000px;
  width: 900px;
  position: absolute;
}
* {
  overflow: hidden;
}
